body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form select {
    height: 38px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

form select,
form input[type="submit"] {
    display: block;
}

form label,
form input[type="submit"] {
    margin-top: 10px;
}


/* Responsive styles */

@media screen and (max-width: 600px) {
    form {
        padding: 10px;
    }
    form input[type="submit"] {
        font-size: 14px;
    }
}

.back-edit-display-laptop {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: blue;
    border: 1px #007bff;
    border-radius: 10px;
}